*{
    margin: 0;
    padding: 0;
}
.sbody{
    margin: 10vh 10vw;
    width: 80%;
    height: 80vh;
}
.fl{
    display: flex;
}
.fl_row{
    flex-direction: row;
}
.fl_col{
    flex-direction: column;
}  
.fl_div{
    
}
.text_center{
    text-align: center;
}
.fl_gr1{
    flex-grow: 1;
}
.fl_gr2{
    flex-grow: 2;
}
.fl_gr3{
    flex-grow: 3;
}
.fl_gr4{
    flex-grow: 4;
}
.fl_gr5{
    flex-grow: 5;
}   
.fl_gr6{
    flex-grow: 6;
}   
.fl_gr7{
    flex-grow: 7;
}   
.fl_gr8{
    flex-grow: 8;
}   
.fl_gr9{
    flex-grow: 9;
}    
.bg{
    background-color: black;
}

.back{
    position: absolute;
    right: 0;
    margin-right: 30px
}
.po_r{
    position: relative;
}
.ml10{
    margin-left: 10%;
}
.ml20{
    margin-left: 20%;
}
.ml30{
    margin-left: 30%;
}
.ml40{
    margin-left: 40%;
}
.ml50{
    margin-left: 50%;
}
.ml60{
    margin-left: 60%;
}
.mt3{
    margin-top: 3%;
}
.mt5{
    margin-top: 5%;
}
.mt10{
    margin-top: 10%;
}
.mt20{
    margin-top: 20%;
}
.mt30{
    margin-top: 30%;
}
.mt40{
    margin-top: 40%;
}
.mt50{
    margin-top: 50%;
}
.mt60{
    margin-top: 60%;
}

.reg_he{
 height: 20px;   
}
.reg_in_wi{
    width: 300px;
}
.reg_btn{
    height: 40px;
    width: 80px;
}
.reg_btn:hover{
    cursor: pointer;
    border: 2px solid #c8c8c8
}
#reg_form{
    display: none;
}
.bcen{
    margin: 0 20%;
}
.w50p{
   width: 50px; 
}